body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titulo1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.tcp {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.ada {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.titulo2 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

 .form {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

.botao1 {
    border: none;
    color: #fff;
    background-color: #0068b8;
    width: 160px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.botao1:hover {
    background-color: #00509e;
}

.botao2 {
    border: none;
    color: #fff;
    background-color: #0068b8;
    width: 160px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.botao2:hover {
    background-color: #00509e;
}

.hope {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    border: none;
}
.hope1 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    border: none;
}
.hope2 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    border: none;
}